<header class="header">
  <div class="main">
    <div class="header__logo">
      <img
      [src]="'/assets/img/logo_hills_garden_'+selectedLanguage+'.png'"
        default="/assets/img/logo_hills_garden_fr.png"
        alt="madmoone"
      />
    </div>
    <!-- <nav class="header__center">
        <ul>
          <li>
            <a href="#"
              ><img src="/assets/img/icons/menu-home.svg" alt="home" /><span
                >Home</span
              ></a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="/assets/img/icons/menu-video.svg"
                alt="video"
                title="Video"
              /><span>Video</span></a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="/assets/img/icons/menu-gallery.svg"
                alt="gallery"
                title="Gallery"
              /><span>Gallery</span></a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="/assets/img/icons/menu-message.svg"
                alt="message"
                title="Message"
              /><span>Message</span></a
            >
          </li>
          <li>
            <a href="#"
              ><img
                src="/assets/img/icons/menu-notification.svg"
                alt="notification"
                title="Notification"
              /><span>Notification</span></a
            >
          </li>
        </ul>
      </nav> -->
    <div class="header__right d-flex align-items-center">
      <div class="language">
        <!-- <select class="selectBox" style="display: none">
            <option value="1" selected="selected">FR</option>
            <option value="2">EN</option>
          </select> -->
        <ng-select
          [items]="languages"
          (change)="changeLanguage()"
          [clearable]="false"
          [searchable]="false"
          bindValue="code"
          [(ngModel)]="selectedLanguage"
          class="select-language"
          placeholder="la langue"
        >
          <!-- add icon and name for label and option -->
          <ng-template ng-label-tmp ng-option-tmp let-item="item">
            <div class="d-flex align-items-center justify-content-center">
              <img [src]="item.icon" class="mx-2 flag-img" />
              <span class="d-none d-sm-inline">{{ item.name | translate }}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="menuBurger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
