<app-madmoone-spinner
  [loading]="loading"
  [height]="'650px'"
></app-madmoone-spinner>
<section class="contentWithParts" [hidden]="!project || loading">
  <div class="main">
    <main>
      <div class="right-part__wrapper d-flex flex-column">
        <div class="d-flex align-items-center mb-4">
          <img
            [src]="apiLink + project?.icon || ''"
            default="/assets/img/building-image-error.png"
            class="imgPromoteur border-radius-50"
            alt=""
          />
          <div class="d-flex flex-column mx-3">
            <h4 class="font-poppins-700 font-16 color-grey">
              {{ project ? (project["name_" + usingLang] | uppercase) : "" }}
            </h4>
          </div>
        </div>
        <div
          class="pswp-gallery mb20"
          id="my-gallery"
          *ngIf="_albums.length > 0"
        >
          <div class="gallery-in-first">
            <div
              *ngFor="
                let image of _albums | slice : 0 : muchPicturesToShow;
                let i = index
              "
              class="gallery__item--{{ i + 1 }}"
              (click)="open(i)"
              [ngClass]="{
                'gallery-in-first__more':
                  i === muchPicturesToShow - 1 &&
                  _albums.length > muchPicturesToShow,
                'border-radius-8': i === 0
              }"
            >
              <img
                [src]="image.thumb"
                default="/assets/img/building-image-error.png"
                class="gallery__img border-radius-8"
              />
              <span
                *ngIf="
                  i === muchPicturesToShow - 1 &&
                  _albums.length > muchPicturesToShow
                "
                class="color-white font-poppins-500 font-12 position-absolute both w-100 text-center text-capitalize icon icon__element-plus"
                style="z-index: 1"
                ><span class="pe-1 pe-1-rtl">{{
                  _albums.length - muchPicturesToShow + 1
                }}</span
                ><span class="d-inline">{{
                  "OTHERS_PHOTOS" | translate
                }}</span></span
              >
            </div>
          </div>
        </div>
        <ul
          ngbNav
          #nav="ngbNav"
          class="nav-tabs border-0"
          [destroyOnHide]="false"
        >
          <li [ngbNavItem]="1" [style]="{ flex: 1 }">
            <a ngbNavLink>{{ "HOME" | translate }}</a>
            <ng-template ngbNavContent>
              <div
                class="d-flex tabsContent__description mb-4 flex-column flex-md-row align-items-start"
              >
                <div class="d-flex flex-column tabsContent__description--left">
                  <h3
                    class="font-14 font-poppins-400 color-default my-2"
                    *ngIf="project && project['name_' + usingLang]"
                  >
                    {{
                      project ? (project["name_" + usingLang] | uppercase) : ""
                    }}
                  </h3>
                  <h4 class="font-12 font-poppins-400 color-grey mb-2">
                    {{ "DESCRIPTION" | translate }}
                  </h4>
                  <p
                    *ngIf="project && project['description_' + usingLang]"
                    [innerHTML]="
                      project
                        ? (project['description_' + usingLang] | safeHtml)
                        : '_'
                    "
                    class="font-12 color-grey3"
                  ></p>
                  <!-- <ul class="d-flex property-project mb-3 flex-wrap">
                    <li
                      class="d-flex flex-column icon icon__bigproject flex-wrap"
                      *ngIf="project?.type"
                    >
                      <h5
                        class="font-poppins-400 color-default font-11 text-capitalize pt-2"
                      >
                        état du projet
                      </h5>
                      <span class="font-11 font-poppins-400 color-grey3">{{
                        project?.type
                      }}</span>
                    </li>
                    <li
                      class="d-flex flex-column icon icon__bigproject flex-wrap"
                      *ngIf="project?.category"
                    >
                      <h5
                        class="font-poppins-400 color-default font-11 text-capitalize pt-2"
                      >
                        Type du projet
                      </h5>
                      <span class="font-11 font-poppins-400 color-grey3">{{
                        project?.category
                      }}</span>
                    </li>
                    <li
                      class="d-flex flex-column icon icon__bigproject flex-wrap"
                      *ngIf="project?.offer"
                    >
                      <h5
                        class="font-poppins-400 color-default font-11 text-capitalize pt-2"
                      >
                        type d’annonce
                      </h5>
                      <span class="font-11 font-poppins-400 color-grey3">{{
                        project?.offer
                      }}</span>
                    </li>
                    <li
                      class="d-flex flex-column icon icon__bigproject flex-wrap"
                      *ngIf="project?.state"
                    >
                      <h5
                        class="font-poppins-400 color-default font-11 text-capitalize pt-2"
                      >
                        Statut du projet
                      </h5>
                      <span class="font-11 font-poppins-400 color-grey3">{{
                        project?.state
                      }}</span>
                    </li>
                  </ul> -->
                </div>
                <div
                  class="tabsContent__description--right d-flex flex-column flex-sm-row flex-md-column border-radius-8 bg-grey py-3 px-2"
                >
                  <div class="d-flex flex-column first-half ms-0 ms-sm-3 ms-md-0">
                    <h3
                      class="font-14 font-poppins-400 color-default mb-3 ms-2"
                    >
                      {{ "GENERAL_INFO" | translate }}
                    </h3>
                    <ul>
                      <li
                        class="font-poppins-400 color-grey icon icon__address mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project && project['address_' + usingLang]"
                      >
                        {{
                          project
                            ? (project["address_" + usingLang] | uppercase)
                            : "-"
                        }}
                      </li>
                      <li
                        class="font-poppins-400 color-grey icon icon__profile mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project && project['promoterName_' + usingLang]"
                      >
                        {{
                          project
                            ? (project["promoterName_" + usingLang] | uppercase)
                            : "-"
                        }}
                      </li>
                      <li
                        class="font-poppins-400 color-grey icon icon__briefcase mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project && project['companyName_' + usingLang]"
                      >
                        {{
                          project
                            ? (project["companyName_" + usingLang] | uppercase)
                            : "-"
                        }}
                      </li>
                      <li
                        class="font-poppins-400 color-grey icon icon__city mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project && project['city_' + usingLang]"
                      >
                        {{
                          project
                            ? (project["city_" + usingLang] | uppercase)
                            : "-"
                        }}
                      </li>
                      <li
                        class="font-poppins-400 color-grey icon icon__phone mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project?.phone"
                      >
                        {{ project?.phone }}
                      </li>
                      <li
                        class="font-poppins-400 color-grey icon icon__mail mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project?.email"
                      >
                        {{ project?.email }}
                      </li>
                      <li
                        class="font-poppins-400 color-grey icon icon__siteweb mb-3 font-12 ps-4 ms-0 ms-sm-2 ps-4-rtl rtl-change-icon"
                        *ngIf="project?.webSite"
                      >
                        <a
                          class="d-inline color-default size-12"
                          target="_blank"
                          href="{{ project?.webSite }}"
                          >{{ project?.webSite }}</a
                        >
                      </li>
                    </ul>
                    <div class="d-flex contact">
                      <a
                        class="icon icon__phone flex-grow-1 align-items-center justify-content-center border-radius-8 both-after bg-green me-2"
                        *ngIf="project?.phone"
                        href="tel:{{ project?.phone }}"
                      >
                      </a>
                      <a
                        class="icon icon__mail2 flex-grow-1 align-items-center justify-content-center bg-white border-radius-8 both-after me-2"
                        *ngIf="project?.email"
                        target="_blank"
                        href="mailto:{{ project?.email }}"
                      ></a>
                      <a
                        class="icon icon__whatsapp flex-grow-1 align-items-center justify-content-center bg-white border-radius-8 both-after"
                        *ngIf="project?.whatsapp"
                        target="_blank"
                        href="{{ project?.whatsapp }}"
                      ></a>
                    </div>
                  </div>
                  <div class="mt-3 mt-sm-0 mt-md-3 second-half">
                    <div
                      class="project-map border-radius-8"
                      style="width: 100%; height: 300px"
                      [ngClass]="{
                        'no-map': !project?.longitude || !project?.latitude
                      }"
                      id="map"
                    ></div>
                  </div>
                </div>
              </div>
              <h2
                class="color-default font-16 font-poppins-400 mb-3"
                *ngIf="
                  project?.projectEquipements &&
                  (project?.projectEquipements)!.length > 0
                "
              >
                {{ "PROJECT_EQUIPMENT" | translate }}
              </h2>
              <div class="d-flex flex-wrap equipments__project mb-5 row g-3">
                <div
                  *ngFor="let equi of project?.projectEquipements"
                  (click)="openModal(equi)"
                  class="col-12 col-sm-6 col-md-4 col-lg-3"
                >
                  <span
                    class="bg-grey d-flex font-12 font-poppins-400 p-3 border-radius-8"
                  >
                    <span
                      class="pe-2  icon-{{
                        equi?.icon
                      }} fs-6 color-default pe-2-rtl"
                      [ngClass]="{ 'icon-uniE68D': !equi?.icon }"
                    ></span>
                    {{ equi ? (equi["name_" + usingLang] | uppercase) : "-" }}
                  </span>
                </div>
              </div>

              <ng-container
                *ngIf="
                  project?.projectUnits &&
                  (project!.projectUnits! | filter : { type: 'APPARTEMENT' }) &&
                  (project?.projectUnits! | filter : { type: 'APPARTEMENT' })!
                    .length > 0
                "
              >
                <div class="d-flex justify-content-between flex-column mb-3">
                  <hr class="mb-4" />

                  <h2
                    class="color-default font-poppins-400 font-16 text-capitalize mb-3"
                  >
                    {{ "APARTMENTS_IN_THIS_PROJECT" | translate }}
                  </h2>
                  <div class="row mb-3">
                    <div
                      class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3 mb-md-3"
                      *ngFor="
                        let unit of project?.projectUnits!
                          | filter : { type: 'APPARTEMENT' }
                      "
                    >
                      <div class="product shadow">
                        <div class="picture">
                          <img
                            [src]="apiLink + unit?.mainPhoto"
                            class="border-bottom"
                            default="/assets/img/building.svg"
                            alt="image Unité"
                          />
                        </div>
                        <div class="content">
                          <div
                            class="d-flex justify-content-between align-items-center mb-4"
                          >
                            <div>
                              <h3
                                class="font-poppins-700 color-grey font-14"
                                *ngIf="unit && unit['name_' + usingLang]"
                              >
                                {{
                                  unit
                                    ? (unit["name_" + usingLang] | uppercase)
                                    : "-"
                                }}
                              </h3>
                              <!-- <span class="color-default font-12 font-poppins-400"
                              >code 763536</span
                            > -->
                            </div>
                          </div>
                          <div
                            class="price__wrapper d-flex flex-column mb-3"
                            *ngIf="unit?.priceMin"
                          >
                            <span
                              class="font-poppins-400 font-14 color-grey mb-2"
                              >{{ "FROM" | translate }}</span
                            >
                            <div
                              class="d-flex justify-content-between align-items-start align-items-sm-center flex-column flex-sm-row"
                            >
                              <div>
                                <h2 class="price__main">
                                  {{
                                    unit.priceMin
                                      | currency
                                        : "MAD"
                                        : "symbol"
                                        : "1.0-0"
                                        : (usingLang! === "en" ||
                                          usingLang! === "fr"
                                            ? "fr"
                                            : "ar")
                                  }}
                                </h2>
                              </div>
                            </div>
                          </div>
                          <h3 class="font-poppins-500 font-14 color-grey mb-4">
                            {{ "CHARACTERISTICS_OF_THE_PROPERTY" | translate }}
                          </h3>
                          <ul class="caractere__list half_in_2 mb-4">
                            <li>
                              <div class="row gy-2 w-100">
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.balcony"
                                >
                                  <span
                                    class="caractere__item icon icon__balcon rtl-change-icon"
                                    >{{ unit?.balcony }}
                                    {{ "BALCONY" | translate }}</span
                                  >
                                </div>
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.rooms_count"
                                >
                                  <span
                                    class="caractere__item icon icon__chambre rtl-change-icon"
                                    >{{ unit?.rooms_count }}
                                    {{ "ROOMS" | translate }}</span
                                  >
                                </div>
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.salons"
                                >
                                  <span
                                    class="caractere__item icon icon__home rtl-change-icon"
                                    >{{ unit?.salons }}
                                    {{ "SALON" | translate }}</span
                                  >
                                </div>
                                <!-- <div
                                class="col-12 col-md-6 text-ellipsis"
                                *ngIf="unit?.floor"
                              >
                                <span class="caractere__item icon icon__etage"
                                  >étage : {{ unit?.floor }}</span
                                >
                              </div> -->
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.restRooms"
                                >
                                  <span
                                    class="caractere__item icon icon__securite rtl-change-icon"
                                    >{{ unit?.restRooms }}
                                    {{ "BATHROOM_SHORT" | translate }}</span
                                  >
                                </div>
                              </div>
                            </li>
                          </ul>
                          <ul class="caractere__list half_in_2 mb-4">
                            <li>
                              <div class="row gy-2 w-100">
                                <!-- <div
                                class="col-12 col-md-6 text-ellipsis"
                                *ngIf="unit?.direction"
                              >
                                <span
                                  class="caractere__item icon icon__direction"
                                  >Exposition {{ unit?.direction }}</span
                                >
                              </div> -->
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.area"
                                >
                                  <span
                                    class="caractere__item icon icon__surface rtl-change-icon"
                                    >{{ "AREA" | translate }} {{ unit?.area }}
                                    {{ "M2" | translate }}</span
                                  >
                                </div>
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit && unit['parking_' + usingLang]"
                                >
                                  <span
                                    class="caractere__item icon icon__parking rtl-change-icon"
                                    >{{ "CAR_PARK" | translate }} :
                                    {{
                                      unit
                                        ? (unit["parking_" + usingLang]
                                          | uppercase)
                                        : "-"
                                    }}
                                  </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <a
                            [routerLink]="['/units', unit?._id]"
                            class="main-btn w-100 h-40 d-flex align-items-center justify-content-center"
                            >{{ "SEE_MORE_DETAILS" | translate }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="
                  project?.projectUnits &&
                  (project!.projectUnits! | filter : { type: 'OFFICE' })!
                    .length > 0
                "
              >
                <div class="d-flex justify-content-between flex-column mb-3">
                  <hr class="mb-4" />

                  <h2
                    class="color-default font-poppins-400 font-16 text-capitalize mb-3"
                  >
                    {{ "OFFICES_IN_THIS_PROJECT" | translate }}
                  </h2>
                  <div class="row mb-3">
                    <div
                      class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3 mb-md-3"
                      *ngFor="
                        let unit of project?.projectUnits!
                          | filter : { type: 'OFFICE' }
                      "
                    >
                      <div class="product shadow">
                        <div class="picture">
                          <img
                            [src]="apiLink + unit?.mainPhoto"
                            class="border-bottom"
                            default="/assets/img/building.svg"
                            alt="image Unité"
                          />
                        </div>
                        <div class="content">
                          <div
                            class="d-flex justify-content-between align-items-center mb-4"
                          >
                            <div>
                              <h3
                                class="font-poppins-700 color-grey font-14"
                                *ngIf="unit && unit['name_' + usingLang]"
                              >
                                {{
                                  unit
                                    ? (unit["name_" + usingLang] | uppercase)
                                    : "-"
                                }}
                              </h3>
                              <!-- <span class="color-default font-12 font-poppins-400"
                              >code 763536</span
                            > -->
                            </div>
                          </div>
                          <div
                            class="price__wrapper d-flex flex-column mb-3"
                            *ngIf="unit?.priceMin"
                          >
                            <span
                              class="font-poppins-400 font-14 color-grey mb-2"
                              >{{ "FROM" | translate }}</span
                            >
                            <div
                              class="d-flex justify-content-between align-items-start align-items-sm-center flex-column flex-sm-row"
                            >
                              <div>
                                <h2 class="price__main">
                                  {{
                                    unit.priceMin
                                      | currency
                                        : "MAD"
                                        : "symbol"
                                        : "1.0-0"
                                        : (usingLang! === "en" ||
                                          usingLang! === "fr"
                                            ? "fr"
                                            : "ar")
                                  }}
                                </h2>
                              </div>
                            </div>
                          </div>
                          <h3 class="font-poppins-500 font-14 color-grey mb-4">
                            {{ "CHARACTERISTICS_OF_THE_PROPERTY" | translate }}
                          </h3>
                          <ul class="caractere__list half_in_2 mb-4">
                            <li>
                              <div class="row gy-2 w-100">
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.balcony"
                                >
                                  <span
                                    class="caractere__item icon icon__balcon rtl-change-icon"
                                    >{{ unit?.balcony }}
                                    {{ "BALCONY" | translate }}</span
                                  >
                                </div>
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.rooms_count"
                                >
                                  <span
                                    class="caractere__item icon icon__chambre rtl-change-icon"
                                    >{{ unit?.rooms_count }}
                                    {{ "ROOMS" | translate }}</span
                                  >
                                </div>
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.salons"
                                >
                                  <span
                                    class="caractere__item icon icon__home rtl-change-icon"
                                    >{{ unit?.salons }}
                                    {{ "SALON" | translate }}</span
                                  >
                                </div>
                                <!-- <div
                                class="col-12 col-md-6 text-ellipsis"
                                *ngIf="unit?.floor"
                              >
                                <span class="caractere__item icon icon__etage"
                                  >étage : {{ unit?.floor }}</span
                                >
                              </div> -->
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.restRooms"
                                >
                                  <span
                                    class="caractere__item icon icon__securite rtl-change-icon"
                                    >{{ unit?.restRooms }}
                                    {{ "BATHROOM_SHORT" | translate }}</span
                                  >
                                </div>
                              </div>
                            </li>
                          </ul>
                          <ul class="caractere__list half_in_2 mb-4">
                            <li>
                              <div class="row gy-2 w-100">
                                <!-- <div
                                class="col-12 col-md-6 text-ellipsis"
                                *ngIf="unit?.direction"
                              >
                                <span
                                  class="caractere__item icon icon__direction"
                                  >Exposition {{ unit?.direction }}</span
                                >
                              </div> -->
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit?.area"
                                >
                                  <span
                                    class="caractere__item icon icon__surface rtl-change-icon"
                                    >{{ "AREA" | translate }} {{ unit?.area }}
                                    {{ "M2" | translate }}</span
                                  >
                                </div>
                                <div
                                  class="col-12 col-md-6 text-ellipsis"
                                  *ngIf="unit && unit['parking' + usingLang]"
                                >
                                  <span
                                    class="caractere__item icon icon__parking rtl-change-icon"
                                    >{{ "CAR_PARK" | translate }} :
                                    {{
                                      unit
                                        ? (unit["parking" + usingLang]
                                          | uppercase)
                                        : "-"
                                    }}
                                  </span>
                                </div>
                              </div>
                            </li>
                          </ul>
                          <a
                            [routerLink]="['/units', unit?._id]"
                            class="main-btn w-100 h-40 d-flex align-items-center justify-content-center"
                            >{{ "SEE_MORE_DETAILS" | translate }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- <div class="d-flex justify-content-center mb-5">
                <button
                  class="main-btn bg-white h-40"
                  style="width: 388px"
                  [routerLink]="['/realestates']"
                >
                  Voir plus de biens
                </button>
              </div> -->
              <app-share-network></app-share-network>
            </ng-template>
          </li>
          <li [ngbNavItem]="2" *ngIf="project?.video" [style]="{ flex: 1 }">
            <a ngbNavLink>{{ "VIDEO" | translate }}</a>
            <ng-template ngbNavContent>
              <div
                class="bg-white m-auto p-4 border-radius-8 tabsContent__component"
              >
                <div class="d-flex flex-column">
                  <div
                    class="d-flex justify-content-between align-items-center"
                    style="margin-bottom: 32px"
                  >
                    <h2
                      class="color-default font-poppins-400 font-16 text-capitalize"
                    >
                      {{ "PROJECT_VIDEO" | translate }}
                    </h2>
                  </div>
                  <ul
                    class="d-flex flex-wrap gallery_display_detail"
                    [ngClass]="{ 'flex-column': true }"
                  >
                    <li>
                      <a role="button">
                        <video
                          width="100%"
                          controls=""
                          class="border-radius-8"
                          [src]="apiLink + project?.video"
                          #videoPlayer
                        ></video>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </li>
          <li
            [ngbNavItem]="3"
            [style]="{ flex: 1 }"
            *ngIf="project?.photos && (project?.photos)!.length > 0"
          >
            <a ngbNavLink>{{ "PHOTOS" | translate }}</a>
            <ng-template ngbNavContent>
              <div
                class="bg-white m-auto p-4 border-radius-8 tabsContent__component"
              >
                <div class="d-flex flex-column">
                  <div
                    class="d-flex justify-content-between align-items-center"
                    style="margin-bottom: 32px"
                  >
                    <h2
                      class="color-default font-poppins-400 font-16 text-capitalize"
                    >
                      {{ "PROJECT_PHOTOS" | translate }}
                    </h2>
                    <div class="d-flex justify-content-between switch-display">
                      <button
                        class="icon icon__row-horizontal medium"
                        [ngClass]="{ current: horizontalViewMode }"
                        (click)="horizontalViewMode = true"
                      ></button>
                      <button
                        class="icon icon__row-vertical"
                        (click)="horizontalViewMode = false"
                        [ngClass]="{ current: !horizontalViewMode }"
                      ></button>
                    </div>
                  </div>
                  <ul
                    class="d-flex flex-wrap gallery_display_detail"
                    [ngClass]="{ 'flex-column': !horizontalViewMode }"
                  >
                    <li *ngFor="let image of _albums; let i = index">
                      <a
                        (click)="open(i)"
                        role="button"
                        class="images-tab-image-container"
                        ><img
                          [src]="image.thumb"
                          default="/assets/img/building-image-error.png"
                          class="border-radius-8"
                          alt="test"
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div
          [ngbNavOutlet]="nav"
          class="mt-2 right-part__wrapper--tabsContent"
        ></div>
      </div>
    </main>
  </div>
</section>
<app-empty-state-v2
  *ngIf="!project && !loading"
  [mainClass]="'wrapperProjects'"
  [secondClass]="'wrapperProjects__new'"
  [title]="'PROJECTS' | translate"
  [description]="'NO_PROJECT_FOUND' | translate"
  [hasAction]="false"
></app-empty-state-v2>
