#map,
#mapDetailProject {
  height: 400px;
  &.no-map {
    height: 0;
  }
}

.project-details-place {
  position: relative;
  position: relative;
  min-height: calc(100vh - 144px);
  margin-top: 55px;
}

.gallery__img {
  object-fit: cover;
}
#my-gallery .gallery-in-first {
  grid-template-columns: repeat(5, 1fr);
}
#my-gallery .gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  .gallery__img {
    height: calc(187px * 2 + 19px);
  }
}

#my-gallery .gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#my-gallery .gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#my-gallery .gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#my-gallery .gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#my-gallery .gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#my-gallery .gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

#my-gallery .gallery__img {
  height: 187px;
  border-radius: 8px;
}

#my-gallery .gallery-in-first__more:after {
  height: 187px;
}

.imgPromoteur {
  object-fit: cover;
}

.project-equi{
  width: calc(25% - 8px);
  margin-right: 8px;
  margin-bottom: 8px;
}