<ul class="d-flex shareInNetwork justify-content-center flex-wrap">
    <li>
      <a shareButton="sms" class="icon icon__sms both-after">SMS</a>
    </li>
    <!-- <li>
      <a shareButton="facebook" class="icon icon__facebook both-after">Facebook</a>
    </li> -->
    <li>
      <a shareButton="telegram" class="icon icon__telegram both-after">Telegram</a>
    </li>
    <li>
      <a shareButton="twitter" class="icon icon__twitter both-after">Twitter</a>
    </li>
    <li>
      <a shareButton="whatsapp" class="icon icon__whatsapp both-after">Whatsapp</a>
    </li>
    <li>
      <a shareButton="email" class="icon icon__gmail both-after">Mail</a>
    </li>
    <!-- <li>
      <a href="#" class="icon icon__network both-after">network</a>
    </li> -->
  </ul>