@import "assets/css/style.css";
@import "assets/font/icomoon/style.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/leaflet/dist/leaflet.css";

:root {
  /** COLORS  old variables */
  --madmoone-blue-color: #4030ea;
  --red-color: #f2185d;
  --grey-700-color: #5e5e5e;
  --gray-color: #546080;
  --grey-light-color: #f4f7fe;
  --white: #ffffff;
  --green: #32c284;
  --blue: #2f84e9;
  --danger-red: #ff6b62;
  --grey-light-bg: #f4f7fe;

  /* new variables  */
  --light-bg: #f4f7fe;
  --light-text-color: #485563;
  --header-height: 56px;
  --error-color: #c54040;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  padding: 8px 16px;
  background: var(--madmoone-blue-color);
  border-radius: 16px;
  font-weight: 400;
  font-size: 12px;
  color: #fcfcfc;
  box-shadow: none;
}
.red-popup .leaflet-popup-content-wrapper {
  background: var(--red-color);
}
.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
}

/* .leaflet-popup .leaflet-popup-tip-container{
    left: 30%;
    margin-left: 0; 
  } */

.leaflet-popup .leaflet-popup-tip-container .leaflet-popup-tip {
  background: var(--madmoone-blue-color);
  box-shadow: none;
  width: 18px;
  height: 18px;
}

.red-popup .leaflet-popup-tip-container .leaflet-popup-tip {
  background: var(--red-color);
}

.leaflet-popup .leaflet-popup-close-button {
  display: none;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.madmoone-form-group .input-group {
  border: 1px solid #cfd3ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fafaff;
  height: 48px;
}

.madmoone-form-group .input-group input {
  background: transparent;
  border: 0;
  box-shadow: none !important;
  font-size: 14px;
  line-height: 20px;
  color: #485563;
}

.madmoone-form-group .input-group input::placeholder {
  color: #546080;
}

.madmoone-form-group .input-group .input-group-prepend .input-group-text {
  background: transparent;
  cursor: pointer;
  border: 0;
}

.madmoone-form-group.invalid input,
.madmoone-form-group.invalid .input-group {
  border-color: var(--danger-red);
  color: var(--danger-red);
}

.madmoone-form-group.invalid .form-error-message {
  font-size: 10px;
  width: 100%;
  text-align: end;
  color: var(--danger-red);
}

.madmoone-form-group {
  margin-bottom: 15px;
}

.madmoone-form-label {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
}

.madmoone-form-input {
  background: #fafaff;
  border: 1px solid #cfd3ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  box-shadow: none !important;
  height: 48px;
  /*//max-width: 279px;*/
}

textarea.madmoone-form-input {
  height: unset;
}

.madmoone-form-input::placeholder {
  color: rgba(84, 96, 128, 0.6);
}

.madmoone-form-group.madmoone-form-group-sm .madmoone-form-label {
  margin-bottom: 4px;
}

.madmoone-form-group.madmoone-form-group-sm .madmoone-form-input {
  padding: 8px;
  height: 38px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

input[type="checkbox"].madmoone-form-input {
  position: relative;
  appearance: none;
  outline: none;
  transition-duration: 200ms;
  border-radius: 16px;
  height: 24px;
  width: 44px;
  background: rgba(84, 96, 128, 0.5);
  border: 0;
  padding: 0;
}

input[type="checkbox"].madmoone-form-input:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #cfd3ff;
  box-sizing: border-box;
  box-shadow: 0 8px 24px 2px rgba(54, 59, 100, 0.08);
  border-radius: 18px;
  bottom: 0;
}

input[type="checkbox"].madmoone-form-input:checked {
  background-color: var(--madmoone-blue-color);
}

input[type="checkbox"].madmoone-form-input:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.ng-select.madmoone-form-input,
.madmoone-form-group .ng-select.madmoone-form-input {
  padding-top: 0;
  padding-bottom: 0;
}

.ng-select.madmoone-form-input {
  font-size: 0.75rem;
  font-family: "Poppins-Regular";
}
.ng-select.madmoone-form-input .ng-select-container {
  border: 0;
  background-color: transparent !important;
  color: inherit;
  box-shadow: none !important;
}

.ng-select.madmoone-form-input .ng-select-container .ng-value-container {
  padding: 0;
}

.ng-select.madmoone-form-input
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: rgba(84, 96, 128, 0.6);
}

.ng-select.madmoone-form-input.ng-select-single .ng-select-container {
  height: 100%;
}
.ng-select.madmoone-form-input-small.ng-select-single {
  height: 36px;
}

.ng-select.madmoone-form-input-small.ng-select-single .ng-select-container {
  min-height: 34px;
}

.ng-select.madmoone-form-input.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-input {
  padding-left: 0;
  padding-right: 0;
}
.ng-select.madmoone-form-input.ng-select-single:not(.madmoone-form-input-small)
  .ng-select-container
  .ng-value-container
  .ng-input {
  top: 12px;
}

.ng-select.madmoone-form-input.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  margin-bottom: 0px;
}

.ng-select.madmoone-form-input .ng-arrow-wrapper {
  padding: 0;
  width: 16px;
}

.gallery__img {
  object-fit: cover;
}
#my-gallery .gallery-in-first {
  grid-template-columns: repeat(5, 1fr);
}
#my-gallery .gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  .gallery__img {
    height: calc(187px * 2 + 19px);
  }
}

#my-gallery .gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

#my-gallery .gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#my-gallery .gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

#my-gallery .gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

#my-gallery .gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

#my-gallery .gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

#my-gallery .gallery__img {
  height: 187px;
  border-radius: 8px;
}

#my-gallery .gallery-in-first__more:after {
  height: 187px;
}

.imgPromoteur {
  object-fit: cover;
}

.images-tab-image-container {
  height: 290px;
  img {
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.accordion-item {
  color: #546080;
  margin-bottom: 1rem;
}
// .accordion-button::after {
//   display: none;
// }

.project-container {
  margin-top: 55px;
}

[dir="rtl"] {
  .rtl-change-icon.icon:after {
    right: 0;
    left: unset;
  }
  .ps-4-rtl {
    padding-left: 0 !important;
    padding-right: 1.5rem !important;
  }
  .ps-3-rtl {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
  .ps-2-rtl {
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }
  .ps-1-rtl {
    padding-left: 0 !important;
    padding-right: 0.25rem !important;
  }
  // do some thing for pe-n-rtl
  .pe-4-rtl {
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
  }
  .pe-3-rtl {
    padding-right: 0 !important;
    padding-left: 1rem !important;
  }
  .pe-2-rtl {
    padding-right: 0 !important;
    padding-left: 0.5rem !important;
  }
  .pe-1-rtl {
    padding-right: 0 !important;
    padding-left: 0.25rem !important;
  }

  .dote:after,
  li.dote:after {
    right: 0.125rem !important;
  }
  .accordion-header-custom {
    .icon__chambre2 {
      padding-right: 2.1875rem;
    }
  }
}

.accordion-header-custom {
  display: flex;
  align-items: center;
  .icon__chambre2 {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .tabsContent__description--right{
    width: 100%;
  }
  .project-container {
    margin-top: 141px;
  }
  #my-gallery .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #my-gallery .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #my-gallery .gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .contentWithParts .right-part__wrapper--tabsContent{
    width: 100%;
    .first-half, .second-half{
      flex: 1;
    }
  }
  
  .header__right .language {
    // position: relative;
    margin-right: 0;
    // font-size: 0.75rem;
    // text-transform: uppercase;
  }
  // .accordion-item .accordion-button{
  //   padding: 0.5rem 1rem;
  // }
  .select-language .flag-img{
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
  }
}

@media screen and (max-width: 575px) {
   .accordion-header-custom{
    flex-direction: column;
    align-items: start;
    .accordion-icon-title{
      width: max-content;
    }
  }
}
[dir=rtl] .accordion-item .accordion-button{
  padding-left: 1rem !important;
  padding-right: 2rem !important;
}

[dir=rtl] .footer__bottom .footer__bottom--social li:first-child{
  margin-right: 0;
}
[dir=ltr] .footer__bottom .footer__bottom--social li:last-child{
  margin-right: 0;
}