<footer class="footer bg-grey">
    <div class="main">
        <div class="footer__bottom">
            <ul>
               
            </ul>
            <ul class="footer__bottom--social">
                <li>
                    <a href="#"><img src="/assets/img/icons/facebook.svg" alt="facebook"></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/img/icons/twitter.svg" alt="twitter"></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/img/icons/instagram.svg" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div id="scrollTop">
    <img src="/assets/img/icons/arrow_down.svg" alt="">
</div>