<footer class="footer bg-grey">
    <div class="main">
        <ul class="footer__middle">
            <li>
                <p class="main-title">Subscribe to our
                    <br />newsletter</p>
                <div class="wrapper__newsletter">
                    <input type="text" id="newsletter" placeholder="Email address" />
                    <button>submit</button>
                </div>
            </li>
            <li>
                <ul>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Email Marketing</a></li>
                    <li><a href="#">Campaigns</a></li>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">Offline</a></li>

                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Benefits</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="appStore">
                    <img src="/assets/img/app_store.svg" alt=""></a>
                <a href="#" class="playStore">
                    <img src="/assets/img/google_play.svg" alt=""></a>
            </li>
        </ul>
        <div class="footer__bottom">
            <ul>
                <li>
                    <a href="#">Terms & Conditions</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
            <ul class="footer__bottom--social">
                <li>
                    <a href="#"><img src="/assets/img/icons/facebook.svg" alt="facebook"></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/img/icons/twitter.svg" alt="twitter"></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/img/icons/instagram.svg" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div id="scrollTop">
    <img src="/assets/img/icons/arrow_down.svg" alt="">
</div>